<div>
    <div class="section">
        <div class="container">
            <div class="row" ng-include="'partials/sections.html'"></div>

            <!--transaction level-->
            <div class="row" ng-show="activeTab == 2">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 ng-show="notDeletedTransactions.length > 0">{{notDeletedTransactions.length}} Transactions</h1>

                            <a href="#/project/{{projectId}}/0/transaction" class="btn btn-lg btn-primary">Add a new
                                transaction
                            </a>
                        </div>
                        <div class="panel-body">
                            <h3 ng-show="notDeletedTransactions.length == 0">No transaction recorded</h3>
                            <table class="table table-striped" ng-show="notDeletedTransactions.length > 0">
                                <thead>
                                <tr>
                                    <th>Comment</th>
                                    <th>Amount</th>
                                    <th class="hidden-xs">From</th>
                                    <th class="hidden-xs hidden-sm">To</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="transaction in notDeletedTransactions track by $index">
                                    <!--{{transaction.lastUpdated| date:"MM/dd/yyyy 'at' h:mma"}} :-->
                                        <td>{{transaction.comment}}</td>
                                        <td>{{transaction.amount}} {{transaction.currency}}</td>
                                        <td class="hidden-xs">{{transaction.from}}</td>
                                        <td class="hidden-xs hidden-sm">{{(transaction.to).join(',')}}</td>
                                        <td>
                                            <a href="#/project/{{projectId}}/{{transaction.id}}/transaction"><i
                                                    class="fa fa-fw fa-lg fa-pencil"></i></a>
                                        </td>
                                        <td>
                                            <a ng-click="deleteTransaction(transaction.id)"><i
                                                    class="fa fa-close fa-fw fa-lg text-danger"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>