<div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <div class="btn-group btn-group-lg" role="group">
                            <a ng-class="activeTab == 1 ? 'btn btn-primary' : 'btn btn-default'"
                               href="#/project/{{projectName}}/1">Members</a>
                            <a ng-class="activeTab == 2 ? 'btn btn-primary' : 'btn btn-default'"
                               href="#/project/{{projectName}}/2">Transactions</a>
                            <a ng-class="activeTab == 3 ? 'btn btn-primary' : 'btn btn-default'"
                               href="#/project/{{projectName}}/3">Settlement</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--project level-->
            <div class="row" ng-show="activeTab == 1">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1>Project {{projectName}}<span
                                    ng-show="members.length > 1"> : {{members.length}} members</span></h1>
                        </div>
                        <div class="panel-body">
                            <ul class="lead list-unstyled text-left">

                                <li ng-repeat="balance in balances">
                                    <span>{{balance.member}}</span>
                            <span ng-class="balance.amount>0 ? 'label label-success' : 'label label-danger'">
                                {{balance.amount | number:2}}</span>
                                    <i ng-click="deleteMember(balance.member)"
                                       ng-hide="existInTransactions(balance.member)"
                                       class="fa fa-close fa-fw fa-lg text-danger"></i>

                                </li>
                            </ul>
                            <form role="form" ng-submit="addMember()">
                                <input class="form-control" placeholder="John doe" type="text" ng-model="newMember"><br>
                                <button type="submit" class="btn btn-lg btn-default">Add a new member</button>
                            </form>
                        </div>
                    </div>


                </div>
            </div>

            <!--transaction level-->
            <div class="row" ng-show="activeTab == 2">
                <div class="col-md-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 ng-show="transactions.length > 1">{{transactions.length}} Transactions</h1>
                        </div>
                        <div class="panel-body">
                            <ul class="lead list-unstyled">
                                <li ng-repeat="transaction in transactions track by $index">
                                    <span>From {{transaction.from}}, to {{(transaction.to).join(',')}} : {{transaction.amount}} ({{transaction.comment}})</span>

                                <span class="pull-right ">
                                        <a href="#/project/{{projectName}}/{{transaction.id}}/transaction"><i
                                                class="fa fa-fw fa-lg fa-pencil"></i></a>
                                        <a ng-click="deleteTransaction(transaction.id)"><i
                                                class="fa fa-close fa-fw fa-lg text-danger"></i></a>
                                    </span>
                                </li>
                            </ul>
                            <a href="#/project/{{projectName}}/0/transaction" class="btn btn-lg btn-primary">Add a new
                                transaction</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--settlement level-->
            <div class="row" ng-show="activeTab == 3">

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1> How to settle the debts :</h1>
                        </div>
                        <div class="panel-body">
                            <h1 class="text-warning" ng-show="transactions.length == 0"> You need to add transactions
                                first</h1>
                            <ul class="lead list-unstyled">

                                <li ng-repeat="settlement in settlements">
                                    <span>{{settlement.from}} should pay {{settlement.to}} <b>{{settlement.amount|number:2}}</b> </span>

                                <span class="pull-right ">
                                    <a ng-click="settleDebts(settlement.from,settlement.to,settlement.amount)"><i
                                            class="fa fa-check fa-fw fa-lg text-success"></i></a>
                                    </span>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>