<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome in Splitons!</h1>
                <hr class="hidden-xs">
                <p></p>
                <p class="hidden-xs">Sometimes you need to manage expenses.
                    <br>You want it simple and easy.
                    <br>Welcome on Splitons...</p>
                <form role="form" ng-submit="sendFeedback()">
                    <button type="submit" class="btn btn-lg btn-default">
                        <i class='fa fa-comments fa-fw fa-lg'/>
                                <span class="hidden-xs">
                                    Send feedback
                                </span>
                    </button>
                </form>
                <hr class="hidden-xs">

                <h3>Projects List</h3>
                <ul class="text-left lead">
                    <li ng-repeat="project in projects">
                        <a href="#/project/{{project.id}}/overview">{{project.name}}</a>
                        <i ng-click="deleteProject(project.name,project.id)" class="fa fa-close fa-fw fa-lg text-danger"></i>
                        <div class="btn btn-sm btn-default" >
                            <i ng-click="sendViaFastFlicker(project.name, project.id)" class="fa fa-angle-double-up fa-fw fa-lg"></i>
                        </div>
                    </li>
                </ul>
                <form role="form" ng-submit="createProject()">
                    <div class="input-group">
                        <input class="form-control" placeholder="new project name" type="text"
                               ng-model="newProjectName">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class='fa fa-plus fa-fw fa-lg'/>
                                    <span class="hidden-xs">Create a new Project!</span></button>
                            </span>
                    </div>
                </form>

                <h3>Receive a project</h3>

                <form role="form" ng-submit="receiveProject()">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" placeholder="Type here the shared passphrase" type="text"
                                   ng-model="passphrase">

                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <i class='fa fa-angle-double-down fa-fw fa-lg'/>
                                            <span class="hidden-xs">
                                                Receive project
                                            </span>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>