<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Create a new project</h1>
                <hr class="hidden-xs">
                <p></p>
                <p class="hidden-xs">Sometimes you need to manage expenses.
                    <br>You want it simple and easy.
                    <br>Welcome on Splitons...</p>
                <form role="form" ng-submit="createProject()">
                    <div class="form-group">
                        <div>
                            <input class="form-control" placeholder="project name" type="text" ng-model="newProjectName">
                            <button type="submit" class="btn btn-default">Create</button>
                        </div>
                    </div>
                </form>
                <p></p>
            </div>
            <div class="col-md-6">
                <h1>Existing projects</h1>
                <hr class="hidden-xs">
                <ul class="text-left lead">
                    <li ng-repeat="project in projects">
                        <a href="#/project/{{project.id}}/1">{{project.name}}</a>
                        <i ng-click="deleteProject(project.name,project.id)" class="fa fa-close fa-fw fa-lg text-danger"></i>
                    </li>
                </ul>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>