<div class="section">
    <div class="container">
        <div class="row" ng-include="'partials/sections.html'"/>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Synchronizing project {{projectName}}</h1>
                    </div>

                    <div class="panel-body">
                        <p class="hidden-xs">If you need to share this project, it is the right place!</p>
                        <h3>Status</h3>
                        <p ng-if="lastUpdated != 0">Last update received : {{lastUpdated | date:"dd/MM/yyyy 'at' h:mma"}}</p>
                        <p>

                        To share the project just send the current url to your friends.<br>
                        </p>

                        <p ng-if="lastUpdated === 0">This project is not synchronised!</p>

                        <p ng-if="errorString.length > 1">Error : {{errorString}}</p>
                        <h3>Share your project</h3>
                        <h4>Via mail</h4>
                        <form role="form" ng-submit="sendViaEmail()">
                            <button type="submit" class="btn btn-lg btn-default">
                                <i class='fa fa-send fa-fw fa-lg'/>
                                <span class="hidden-xs">
                                    Send via mail
                                </span>
                            </button>
                        </form>
                        <h4>Via internal meet</h4>
                        <form role="form" ng-submit="sendViaFastFlicker()">
                            <button type="submit" class="btn btn-lg btn-default">
                                <i class='fa fa-angle-double-up fa-fw fa-lg'/>
                                <span class="hidden-xs">
                                    Synchronise via internal meet
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>