<div class="section">
    <div class="container">
        <div class="row">

            <div class="row" ng-include="'partials/sections.html'"/>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Synchronizing project {{projectName}}</h1>
                    </div>

                    <div class="panel-body">
                        <p class="hidden-xs">If you need to share this project, it is the right place!</p>

                        <p ng-if="lastUpdated != 0">Last update received : {{lastUpdated | date:"dd/MM/yyyy 'at' h:mma"}}</p>
                        <p>

                        To share the project just send the current url to your friends.<br>
                        </p>

                        <p ng-if="lastUpdated === 0">This project is not synchronised!</p>

                        <p ng-if="errorString.length > 1">Error : {{errorString}}</p>

                        <!-- Now automatic on controller load
                        <form role="form" ng-submit="synchronize()">
                            <button type="submit" class="btn btn-lg btn-default">
                                <i ng-class="synchronizing ? 'fa fa-refresh fa-spin fa-fw fa-lg' : 'fa fa-refresh fa-fw fa-lg'"/>
                                            <span class="hidden-xs">
                                                Synchronize project
                                            </span>
                            </button>
                        </form>-->

                        <form role="form" ng-submit="sendViaEmail()">
                            <button type="submit" class="btn btn-lg btn-default">
                                <i class='fa fa-send fa-fw fa-lg'/>
                                <span class="hidden-xs">
                                    Send via mail
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>