<div class="section">
    <div class="container">
        <div class="row text-left">
            <div class="col-md-12">
                <h1>Transaction</h1>
                <form role="form" ng-init="IncorrectAmount=false" ng-submit="IncorrectAmount = addTransaction()">
                    <div class="form-group">
                        <label class="control-label">Who paid :</label>
                        <select class="btn-group" ng-model="selectedCreditor" ng-options="opt for opt in members"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">For what?</label>
                        <input class="form-control" placeholder="Train tickets" ng-model="comment"
                               type="text" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">How much?</label>
                        <input ng-model="amount" class="form-control" placeholder="100.05" type="text"
                                min="0" step="0.01" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">For whom?</label>
                        <ul>
                            <li ng-repeat="name in members">
                                <input type='checkbox' checklist-model="selectedDebtors" checklist-value="name"> {{name}}
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group" role="group" >
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add new currency</button>

                        <div class="btn-group" role="group">
                            <select class="form-control" ng-model="selectedCurrency" ng-options="opt for opt in currencies" />
                        </div>
                    </div>
                    <br>

                    <button type="submit" class="btn btn-lg btn-default">Confirm</button>

                    <div class="alert alert-danger" role="alert" ng-show="IncorrectAmount">
                        <span class="sr-only">Error:</span>
                        Enter a valid amount!
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Add a new currency</h4>
                                </div>
                                <div class="modal-body">
                                    <input type="text" name="userName" ng-model="newCurrency" required>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" ng-click="addCurrency(newCurrency)"  data-dismiss="modal">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>