<div class="section">
    <div class="container">
        <div class="row" ng-include="'header/sections.html'">
        </div>

        <!--Overview section-->
        <div class="row">
            <div class="col-md-8 col-sm-10 col-md-push-2 col-sm-push-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <ul class="nav nav-pills">
                                <li ng-repeat="currency in allCurrencies"
                                    ng-class="selectedCurrency == currency ? 'active' : ''"
                                    ng-click="setSelectedCurrency(currency)">
                                    <a ng-click="setSelectedCurrency(currency)">{{currency}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-default" ng-click="addMember()">
                                Add <span class="hidden-xs">a Member</span>
                                <i class='fa fa-user-plus fa-fw fa-lg' />
                            </button>

                            <a class="btn btn-default" href="#/project/{{projectId}}/0/transaction">
                                Create <span class="hidden-xs">a Transaction</span>
                                <i class='fa fa-exchange fa-fw fa-lg' />
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="panel-body">
                        <table class="table table-striped members">
                            <thead>
                                <tr>
                                    <th>Who</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="balance in balances">
                                    <td>
                                        <span>{{balance.member}}</span>
                                    </td>
                                    <td>
                                        <span class="nowrap label label-lg" ng-class="balance.amount > 0 ? 'label-success' : balance.amount < 0 ? 'label-danger' : 'label-default'">
                                            {{balance.amount | number:2}} {{selectedCurrency}}
                                        </span>
                                    </td>
                                    <td>
                                        <a class="btn btn-default" ng-click="deleteMember(balance.member)" ng-hide="existInTransactions(balance.member)">
                                            <i class="fa fa-close fa-fw text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <button class="btn btn-block btn-primary" ng-click="settleBalances()">
                            <span class="hidden-xs">Settle balances</span>
                            <i class='fa fa-align-left fa-fw fa-lg' />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>