<div>
    <div class="section">
        <div class="container">
            <div class="row" ng-include="'partials/sections.html'"></div>

            <!--Transactions section-->
            <div class="row" ng-show="activeTab == 2">
                <div class="col-md-8 col-sm-10 col-md-push-2 col-sm-push-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h4 ng-show="notDeletedTransactions.length > 0">{{notDeletedTransactions.length}} Transactions</h4>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-default" href="#/project/{{projectId}}/0/transaction">
                                    Create <span class="hidden-xs">a Transaction</span>
                                    <i class='fa fa-exchange fa-fw fa-lg' />
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body table-responsive">
                            <h3 ng-hide="notDeletedTransactions.length > 0">No transactions...</h3>
                            <table class="table table-striped transactions" ng-show="notDeletedTransactions.length > 0">
                                <thead>
                                <tr>
                                    <th>Comment</th>
                                    <th>Amount</th>
                                    <th class="hidden-xs">From</th>
                                    <th class="hidden-xs">When</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="transaction in notDeletedTransactions track by $index">
                                    <td>
                                        <span>{{transaction.comment}}</span>
                                    </td>
                                    <td>
                                        <span>{{transaction.amount}} {{transaction.currency}}</span>
                                    </td>
                                    <td class="hidden-xs">
                                        <span>{{transaction.from}}</span>
                                    </td>
                                    <td class="nowrap hidden-xs">
                                        <span class="hidden-xs">{{transaction.lastUpdated| date:"d MMM yyyy"}}</span>
                                        <span class="hidden-xs hidden-sm">{{transaction.lastUpdated| date:"'at' h:mma"}}</span>
                                    </td>
                                    <td class="nowrap" style="min-width:88px">
                                        <div class="btn-group" role="group" >
                                            <a class="btn btn-default btn-sm" href="#/project/{{projectId}}/{{transaction.id}}/transaction">
                                                <i class="fa fa-lg fa-pencil"></i>
                                            </a>

                                            <a class="btn btn-default btn-sm" ng-click="deleteTransaction(transaction.id)">
                                                <i class="fa fa-lg fa-times"></i>
                                            </a>
                                        </div>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>